<!-- Bootstrap Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></button>
        <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button> -->

    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/img/atm-banner-web.jpg" class="web w-100" alt="First Slide">
            <img src="assets/img/atm-banner-mob.jpg" class="mob w-100" alt="First Slide">

            <!-- <div class="carousel-caption d-none d-md-block">
                <h5>Caption for Slide 1</h5>
                <p>Description for Slide 1</p>
            </div> -->
        </div>
        <!-- <div class="carousel-item">
            <img src="img/jewellery-banner-2.png" class="d-block w-100" alt="Second Slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Caption for Slide 2</h5>
                <p>Description for Slide 2</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="img/jewellery-banner-1.jpg" class="d-block w-100" alt="First Slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Caption for Slide 3</h5>
                <p>Description for Slide 2</p>
            </div>
        </div> -->
    </div>


</div>
<section class="live-rates mt-4 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="img">
                    <img src="assets/img/live-rates-banner.png" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="text gold">
                    <p class="purity"><img src="assets/img/security.svg" alt="">100% Hallmarked <b>24k 999 Pure Gold</b>
                    </p>
                    <div class="row">
                        <div class="col-md-4 col-4">
                            <img src="assets/img/gold-rate-img.png" alt="">
                        </div>
                        <div class="col-md-8 col-8">
                            <div class="rate">
                                <p>Gold Live Price Per Gram</p>
                                <p><b [ngStyle]="{'color': livesellprice24color}">{{livesellprice24|currency}}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text silver">
                    <p class="purity"><img src="assets/img/security.svg" alt="">100% Hallmarked <b>99.9% Pure Silver</b>
                    </p>
                    <div class="row">
                        <div class="col-md-4 col-4">
                            <img src="assets/img/silver-rate-img.png" alt="">
                        </div>
                        <div class="col-md-8 col-8">
                            <div class="rate">
                                <p>Silver Live Price Per 1Kg</p>
                                <p><b [ngStyle]="{'color': livesellpricesilvercolor}">
                                        {{ livesellpricesilver | currency}}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-home mb-4" id="about-us">

    <h2 class="headings mb-4">First-ever <b>Gold ATM</b> Launch Event </h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="https://www.youtube.com/watch?v=BtHSlZfDzPc" target="_blank"><img
                        src="assets/img/youtube-1.png" alt=""></a>

            </div>
            <div class="col-md-6">

                <!-- Bootstrap Carousel -->
                <div id="about" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="content">
                                <h2>GoldSikka Limited's First Gold ATM Launch:</h2>
                                <img src="assets/img/gold-atm-launch.svg" alt="">
                                <h3>Inaugural Gold ATM Launch:</h3>
                                <p>Goldsikka Limited launched the world's first real-time Gold ATM in Hyderabad on
                                    December 3, 2022, introducing a groundbreaking innovation</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="content">
                                <h2>GoldSikka Limited's First Gold ATM Launch:</h2>
                                <img src="assets/img/beyond-jewelry-stores.svg" alt="">
                                <h3>Improved ease of access:</h3>
                                <p>Gold ATMs allow a wider variety of individuals to utilize their preferred payment
                                    cards for purchasing gold.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="content">
                                <h2>GoldSikka Limited's First Gold ATM Launch:</h2>
                                <img src="assets/img/diverse-utility.svg" alt="">
                                <h3>Diverse Utility:</h3>
                                <p>The Gold ATM serves various purposes, offering simplicity, accessibility 24x7, and
                                    the ability to buy gold within diverse budget constraints.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="content">
                                <h2>GoldSikka Limited's First Gold ATM Launch:</h2>
                                <img src="assets/img/ease-of-use.svg" alt="">
                                <h3>Ease of Use:</h3>
                                <p>Designed for user-friendliness, the Gold ATM simplifies transactions, allowing
                                    individuals to effortlessly use their debit or credit cards for gold purchases.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="content">
                                <h2>GoldSikka Limited's First Gold ATM Launch:</h2>
                                <img src="assets/img/enhanced-accessibility.svg" alt="">
                                <h3>Enhanced Accessibility:</h3>
                                <p>Offering easier access, Gold ATMs provide a wider demographic with the opportunity to
                                    conduct gold transactions using their preferred payment cards.</p>
                            </div>
                        </div>

                        <!-- <div class="carousel-item">
                            <img src="img/jewellery-banner-2.png" class="d-block w-100" alt="Second Slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Caption for Slide 2</h5>
                                <p>Description for Slide 2</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="img/jewellery-banner-1.jpg" class="d-block w-100" alt="First Slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Caption for Slide 3</h5>
                                <p>Description for Slide 2</p>
                            </div>
                        </div> -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#about"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#about"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services-home space" id="services">
    <div class="container">

        <h2 class="headings mb-4">GoldSikka's Real-Time <b>Gold ATM</b> Highlights:
        </h2>
        <div class="row">
            <div class="col-md-3">
                <div class="box">
                    <img src="assets/img/instantaneous-transactions.svg" alt="">
                    <h2>Immediate Transactions: </h2>
                    <p>Simple and convenient buying of gold with no complicated processes or time limitations</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <img src="assets/img/user-friendly-interface.svg" alt="">
                    <h2>Clear market rates/prices:</h2>
                    <p>Real-time market rates ensure equity and trust in investment choices of the customers.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <img src="assets/img/transparent-market-rates.svg" alt="">
                    <h2>User-friendly nature:</h2>
                    <p>Easy to use and make gold purchase effortlessly with the debit or credit cards.</p>
                    <!-- <p>Streamlines transactions, enabling people to easily make gold purchases with their debit or credit cards.</p> -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <img src="assets/img/diverse-investment-options.svg" alt="">
                    <h2>Security:</h2>
                    <p>Installed with 24/7 camera surveillance, seizing unauthorized intruders with machine precision.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="introduction-home" id="innovative">

    <h2 class="headings mb-4"> <b>Gold ATM</b>s are expanding ! More locations to turn cash into gold

    </h2>
    <div class="container">
        <div class="row mb-4">

            <div class="col-md-6">

                <!-- Bootstrap Carousel -->
                <div id="introduction" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="content">
                                <h2>GoldSikka Limited's First Gold ATM Launch:</h2>
                                <img src="assets/img/collaborative-innovation.svg" alt="">
                                <h3>Purity Guaranteed:</h3>
                                <p>Invest in certified, 24 karat gold with confidence.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="content">
                                <h2>GoldSikka Limited's First Gold ATM Launch:</h2>
                                <img src="assets/img/dynamic-gold-rates.svg" alt="">
                                <h3>Instant Gold:</h3>
                                <p>Get your gold coins instantly, 24/7, no waiting.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="content">
                                <h2>GoldSikka Limited's First Gold ATM Launch:</h2>
                                <img src="assets/img/competitive-gold-buying.svg" alt="">
                                <h3>Secure Transactions:</h3>
                                <p>Use UPI or card for safe and encrypted purchases.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="content">
                                <h2>GoldSikka Limited's First Gold ATM Launch:</h2>
                                <img src="assets/img/revolutionizing-gold-accessibility.svg" alt="">
                                <h3>Secure Packaging:</h3>
                                <p>Your gold arrives safely with tamper-proof packaging.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="content">
                                <h2>GoldSikka Limited's First Gold ATM Launch:</h2>
                                <img src="assets/img/competitive-gold-offering.svg" alt="">
                                <h3>Simple & Easy:</h3>
                                <p>No need for stores, buy gold anytime, anywhere. </p>
                            </div>
                        </div>

                        <!-- <div class="carousel-item">
                            <img src="img/jewellery-banner-2.png" class="d-block w-100" alt="Second Slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Caption for Slide 2</h5>
                                <p>Description for Slide 2</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="img/jewellery-banner-1.jpg" class="d-block w-100" alt="First Slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Caption for Slide 3</h5>
                                <p>Description for Slide 2</p>
                            </div>
                        </div> -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#introduction"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#introduction"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <a href="https://www.youtube.com/watch?v=P5acY0nv27s&t=1s" target="_blank">
                    <img src="assets/img/youtube-2.png" alt="">
                </a>
            </div>
        </div>
        <div class="text">

            <p> In the current market, gold may be purchased by anybody, just like any other commodity. <b>Goldsikka
                    Limited</b> introduced India's first <b>Gold ATM</b>, a digital marketplace for buying . Buyers may
                use any credit or debit card to instantly acquire genuine gold from these <b>Gold ATM</b>s.
                Additionally, the company provides prepaid and postpaid smart cards, making acquiring gold as
                straightforward as withdrawing cash from an <b>ATM</b>.
            </p>
            <p>
                Similar to other <b>ATM</b>s, the buyer selects the amount of gold desired, which is presented on the
                screen along with the price with the current gold rate, and the gold is released. Nowadays, gold's
                unshakable demand causes gold prices to leap to new highs, and the <b>Gold ATM</b> strives to be the
                one-stop gold buying platform.
            </p>
        </div>
    </div>
</section>
<section class="evolution space" id="progressive">
    <div class="container">
        <h2 class="headings mb-4">Making gold investing easy, clear, and reliable.</h2>
        <!-- <p><i>Making gold investing easy, clear, and reliable.</i></p> -->
        <div class="row">
            <div class="col-md-4">
                <img src="assets/img/evolution.png" alt="">
            </div>
            <div class="col-md-8">
                <div class="points">
                    <p>
                        <b> 1. Revolutionizing Gold Investment:</b>
                    </p>
                    <p>Goldsikka Limited's innovative Gold ATMs transform the gold market, making investments as easy as
                        ATM withdrawals.</p>
                    <p><b>2. Accessibility and Availability:</b></p>
                    <p>The Emergence of Gold ATMs by Goldsikka Limited: Making Gold Accessible to the Public.</p>
                    <p><b>3. Market Reflection and Gold Dispensing:</b></p>
                    <p>Real-time Pricing and All-Time Highs: Gold ATMs Reflect Market Demand and Dispense Gold.</p>
                    <p><b>4. Varied bars:</b></p>
                    <p>Meeting diverse demands with coin options ranging from 0.5 to 100 grams, reflecting a growing
                        trend in preference.</p>
                    <p><b>5. Ensuring purity and providing information:</b></p>
                    <p>Provides real-time gold prices, 24/7 access to certified 24-carat gold coins (0.5 gms - 100 gms),
                        and transparent transactions for assured purity.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="stock-details">
    <div class="container">
        <h2 class="headings mb-4">Available stock details</h2>
        <div class="row">
            <div class="col-md-4">
                <select id="cityDropdown" class="form-select">
                    <option selected>Select City * </option>
                    <option value="hyderabad">Hyderabad</option>
                    <option value="visakhapatnam">Visakhapatnam</option>
                </select>
            </div>
            <div class="col-md-4">

                <select id="locationDropdown" class="form-select">
                    <option selected>Select Location *</option>
                    <option value="hyderabad">Ameerpet</option>
                    <option value="visakhapatnam">Prakesh Nagar</option>
                </select>
            </div>
            <div class="col-md-4">
                <select id="category" class="form-select">
                    <option selected>Select Category</option>
                    <option value="hyderabad">Gold</option>
                    <option value="visakhapatnam">Silver</option>
                </select>
            </div>
        </div>
        <div class="img">
            <img src="assets/img/select-atm.png" alt="">
        </div>
        <div class="stock">
            <div class="row">
                <div class="col-md-3">
                    <div class="box">
                        <p>
                            Type <b>Gold</b>
                        </p>
                        <p>
                            Gram <b>0.5</b>
                        </p>
                        <p class="text-success">
                            Available
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <p>
                            Type <b>Gold</b>
                        </p>
                        <p>
                            Gram <b>1</b>
                        </p>
                        <p class="text-danger">
                            Out of Stok
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <p>
                            Type <b>Gold</b>
                        </p>
                        <p>
                            Grams <b>2</b>
                        </p>
                        <p class="text-success">
                            Available
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <p>
                            Type <b>Gold</b>
                        </p>
                        <p>
                            Grams <b>5</b>
                        </p>
                        <p class="text-success">
                            Available
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <p>
                            Type <b>Gold</b>
                        </p>
                        <p>
                            Grams <b>10</b>
                        </p>
                        <p class="text-success">
                            Available
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="box">
                        <p>
                            Type <b>Silver</b>
                        </p>
                        <p>
                            Grams <b>10</b>
                        </p>
                        <p class="text-success">
                            Available
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <p>
                            Type <b>Silver</b>
                        </p>
                        <p>
                            Grams <b>20</b>
                        </p>
                        <p class="text-success">
                            Available
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <p>
                            Type <b>Silver</b>
                        </p>
                        <p>
                            Grams <b>50</b>
                        </p>
                        <p class="text-success">
                            Available
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <p>
                            Type <b>Silver</b>
                        </p>
                        <p>
                            Grams <b>100</b>
                        </p>
                        <p class="text-success">
                            Available
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="locations mb-4">
    <div class="container">
        <h2 class="headings mb-4">Our Locations</h2>
        <iframe
            src="https://www.google.com.qa/maps/d/u/0/embed?mid=1xKWKZlW9lgPZWrndQsJfmSLLnm4eTJM&hl=en&ll=17.4399,78.4983&z=12&ehbc=2E312F&noprof=1"
            width="100%" height="480"></iframe>
    </div>
</section>
<section class="reach-us" id="contact-us">
    <h2 class="headings mb-4">Reach Us</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="content-text">
                        <div class="img">
                            <img src="assets/img/location.svg" alt="">
                        </div>
                        <div class="text">
                            <p> <b>Registered Office :</b> Ashoka Raghupathi Chambers , Chikoti Garden Rd, Old
                                Patigadda, Chikoti Gardens, Begumpet,
                                Hyderabad, Telangana 500016
                            </p>
                            <p><b>Tollfree No : 1800 8906 122</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <div class="content-text">
                        <div class="img">
                            <img src="assets/img/location.svg" alt="">
                        </div>
                        <div class="text">
                            <p> <b>Admin Office :</b> Goldsikka Jewels Limited, 1st Floor,
                                #3-5-171/1/2, Near Melkote park, Himayatnagar,Hyderabad, Telangana 500029.India
                            </p>
                            <p><b>Tollfree No : 1800 8906 122</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space">
            <div class="row">
                <div class="col-md-6">
                    <div class="icons">
                        <h2>
                            Contact Information :
                        </h2>
                        <p>For any inquiries or assistance, feel free to contact us via phone or email or whatsapp</p>
                        <div class="contact">
                            <div class="ico">
                                <div class="img">
                                    <img src="assets/img/phone.svg" alt="">
                                </div>
                                <div class="text">
                                    <p>Phone:</p>
                                    <p><b>040-23222175</b></p>
                                </div>
                            </div>
                            <div class="ico">
                                <div class="img">
                                    <img src="assets/img/whatsapp.svg" alt="">
                                </div>
                                <div class="text">
                                    <p>Whatsapp Number:
                                    </p>
                                    <p><b> 91600 06724</b></p>
                                </div>
                            </div>
                            <div class="ico">
                                <div class="img">
                                    <img src="assets/img/gmail.svg" alt="">
                                </div>
                                <div class="text">
                                    <p>Email ID:</p>
                                    <p><b>goldbox&commat;gmail.com</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form">
                        <form class="row g-3" name="contact-form" method="post" id="contactForm"
                            enctype="multipart/form-data" onsubmit="showLoader()">
                            <h2>
                                To learn more,
                            </h2>
                            <p>Please send us a message and we'll be in touch.</p>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">First Name</label>
                                    <input type="text" class="form-control" id="validationDefault01" name="name"
                                        onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"
                                        minlength="4" maxlength="20" placeholder="e.g. Revanth">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Last Name</label>
                                    <input type="text" class="form-control" id="validationDefault06" name="name"
                                        onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"
                                        minlength="4" maxlength="20" placeholder="e.g. Reddy">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Mail ID</label>

                                    <input type="email" class="form-control" id="validationDefault02" name="email"
                                        placeholder="e.g. revanth@gmail.com" required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Phone Number</label>
                                    <input type="text" id="validationDefault03" class="form-control" name="phone"
                                        pattern="[0-9]{10}" title="Please enter a 10-digit phone number"
                                        placeholder="e.g. 951520xxxx" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="">City</label>
                                <input type="text" class="form-control" id="validationDefault04"
                                    placeholder="e.g. Hyderabad" name="city"
                                    onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"
                                    minlength="4" maxlength="20" required>
                            </div>
                            <div class="col-md-6">
                                <label for="">State</label>
                                <input type="text" class="form-control" id="validationDefault05"
                                    placeholder="e.g. Telangana" name="state"
                                    onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"
                                    minlength="4" maxlength="20" required>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Enter Description</label>
                                    <textarea class="form-control" rows="3" name="description" id="description"
                                        placeholder="e.g. Hello!"></textarea>
                                    <input type="hidden" name="type" value="1">
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>


                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>

</section>