.bottom-bar {
    background-color: #FFFDF5;
    padding: 10px 0px;

    p {
        margin-bottom: 0px;
        font-size: 15px;

        u {
            float: right;

            a {
                img {
                    padding: 0px 8px;
                    width: 18%;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    /* CSS rules for screens smaller than or equal to 767px wide */
    /* Adjust styles for smaller screens here */
}