<section class="bottom-bar">
    <div class="container">
        <p>© 2024 Goldbox Ltd. All Rights Reserved. | Design / Dev by : <a href="https://xyug.in/"
                target="_blank">X-YUG</a>
            <u> <a target="blank" href="" rel="nofollow"><img src="assets/img/facebook.svg" alt=""></a>
                <a target="blank" href="" rel="nofollow"><img src="assets/img/instagram.svg" alt=""></a>
                <a target="blank" href="" rel="nofollow"><img src="assets/img/twitter.svg" alt=""></a>
                <a target="blank" href="" rel="nofollow"><img src="assets/img/youtube.svg" alt=""></a>
                <a target="blank" href="" rel="nofollow"><img src="assets/img/linkedIn.svg" alt=""></a>
            </u>
        </p>
    </div>
    
</section>
