.notfound {
    padding: 40vh 0px;
    text-align: center;

    h3 {
        margin-bottom: 30px;
    }

    a {
        font-size: 18px;
        font-weight: 500;
        background-color: var(--gold-color);
        color: #fff;
        border-radius: 46px;
        padding: 10px 24px;
        font-family: Cormorant Garamond;
        text-decoration: none;
    }

    a:hover {
        background-color: var(--heading-one-color);
        color: var(--gold-color);
    }
}