// default color
$gold-color: #c0a430;
$heading-one-color: #101729;
$heading-two-color: #1e2a3a;
$heading-three-color: #344056;
$heading-four-color: #465468;
$primary-color: #80808B;

:root {

    --gold-color: #{$gold-color};
    --primary-color: #{$primary-color};
    --heading-one-color:#{$heading-one-color};
    --heading-two-color:#{$heading-two-color};
    --heading-three-color:#{$heading-three-color};
    --heading-four-color:#{$heading-four-color};

}

.space {
    padding: 60px 0px;
}

h1 {
    color: var(--heading-one-color);
}

h2 {
    color: var(--heading-two-color);
}

h3 {
    color: var(--heading-three-color);
}

h4 {
    color: var(--heading-four-color);
}

body {
    font-family: 'Libre Franklin';
}
.btn {
    background-color: var(--gold-color);
    border-radius: 20px;
    border: none;
    padding: 6px 25px;
}
//theme button

// .theme-button {

// }


//end theme button
.headings {
    color: var(--primary-color);
    font-size: 28px;
    text-align: center;

    b {
        color: var(--heading-one-color);
    }
}

.bg-color {
    background: #f4f4f4;
}

@media only screen and (max-width: 767px) {
    .top-space {
        padding-top: 12%;
    }
}